.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../images/loginBG.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrap-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 70%;
  padding: 3%;
  background: rgb(185, 185, 185);
  background-image: url('../../images/introBG.jpeg');
  border-radius: 12px;
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}

.illustration {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 90%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(185, 185, 185, 0.8);
  background-image: url('../../images/introBG.jpeg');
  background-size: cover;
}


.title {
  color: #333333;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.welcome {
  color: #333333;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.loginOtherSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonColletion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
